#spring:
#  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://223.130.163.203:3306/?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
#    username: swyp
#    password: swyp2025
spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: 'jdbc:h2:mem:tmp'   # H2 DB ?? ?? (In-Memory Mode)
    #url: 'jdbc:h2:~/test'    # H2 DB ?? ?? (Embedded Mode)
    username: user
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
      setting:
        web-allow-other: true

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        show_sql: true

# Springdoc OpenAPI (Swagger) Configuration
springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: alpha
    tags-sorter: alpha
    display-request-duration: true
    doc-expansion: none
  default-consumes-media-type: application/json
  default-produces-media-type: application/json