spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:swyp_test}?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jwt:
    secret: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION:3600000}

#  data:
#    redis:
#      host: localhost
#      port: 6379

  mail:
    host: ${MAIL_HOST:smtp.naver.com}      # 환경변수 MAIL_HOST 없으면 기본값 smtp.naver.com
    port: ${MAIL_PORT:587}                 # TLS 포트 (기본 587)
    username: ${MAIL_USERNAME}   # 발신자 계정
    password: ${MAIL_PASSWORD}           # 로그인 비밀번호
    from: ${MAIL_FROM:${MAIL_USERNAME}}  # 발신자 이메일 주소
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        jdbc.time_zone: Asia/Seoul

  security:
    oauth2:
      client:
        registration:
          google:
            client-name: ${OAUTH2_CLIENT_NAME:fitwedding_client}
            client-id: ${OAUTH2_GOOGLE_CLIENT_ID}
            client-secret: ${OAUTH2_GOOGLE_CLIENT_SECRET}
            redirect-uri: ${OAUTH2_GOOGLE_REDIRECT_URI:http://localhost:8080/login/oauth2/code/google}
            authorization-grant-type: authorization_code
            scope:
              - profile
              - email

oauth:
  google:
    client-id: ${OAUTH2_GOOGLE_CLIENT_ID}
    client-secret: ${OAUTH2_GOOGLE_CLIENT_SECRET}
    token-uri: ${OAUTH2_GOOGLE_TOKEN_URI:https://oauth2.googleapis.com/token}
    userinfo-uri: ${OAUTH2_GOOGLE_USERINFO_URI:https://www.googleapis.com/oauth2/v3/userinfo}

#spring:
#  datasource:
#    driver-class-name: org.h2.Driver
#    url: 'jdbc:h2:mem:tmp'   # H2 DB ?? ?? (In-Memory Mode)
#    #url: 'jdbc:h2:~/test'    # H2 DB ?? ?? (Embedded Mode)
#    username: user
#    password:
#  h2:
#    console:
#      enabled: true
#      path: /h2-console
#      setting:
#        web-allow-other: true

#  jpa:
#    database-platform: org.hibernate.dialect.H2Dialect
#    hibernate:
#      ddl-auto: create
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.H2Dialect
#        format_sql: true
#        show_sql: true



# Springdoc OpenAPI (Swagger) Configuration
springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: alpha
    tags-sorter: alpha
    display-request-duration: true
    doc-expansion: none
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

