spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-name: fitwedding_client
            client-id: 111459753848-t1rk1bh3s5no6f29ejhai17soon2buo4.apps.googleusercontent.com
            client-secret:
            redirect-uri: http://localhost:8080/login/oauth2/code/google
            authorization-grant-type: authorization_code
            scope:
              - profile
              - email

  jwt:
    secret: "dsdfegsetahrfhtrysfhewwaadffffxxxbbbbbggfgjfssdfh"

